package {{ package }}.dto;

{% for item in dto_imports %}import {{ item }};
{% endfor %}import lombok.Data;

@Data
public class {{ dto_name }} {
{% for field in dto_fields %}{% for annotation in field.annotations %}    {{ annotation }}
{% endfor %}    private {{ field.java_type }} {{ field.property_name }}{% if field.default_value %} = {{ field.default_value }}{% endif %};
{% endfor %}
}
