package {{ package }}.common;

import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.config.annotation.ResourceHandlerRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurer;

import java.io.File;

@Configuration
public class WebMvcConfig implements WebMvcConfigurer {

    @Override
    public void addResourceHandlers(ResourceHandlerRegistry registry) {
        String uploadPath = new File("{{ project.backend.upload_dir }}").getAbsolutePath() + File.separator;
        registry.addResourceHandler("/{{ project.backend.upload_dir }}/**")
                .addResourceLocations("file:" + uploadPath);
    }
}
